<div class="container mt-5">

    <div class="card text-center">
        
        <div class="card-body">
            <h5 class="card-title">Bienvenido "Nombre del gerente"!</h5>
            <img class="home-img" src="../../../assets/homeimg.jpg" height="300px">
            <p class="card-text">Somos DevSoldiers y aqui en contraras la lista de empleados que tienen tareas pendientes y toda la informacion relevante acerca del proceso en el que se encuentra cada una de ellas. </p>
            <a class="btn btn-outline-primary" routerLink="dashboard">Ir al dashboard</a>
        </div>
    </div>
</div>