@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Birthstone+Bounce:wght@500&family=Fleur+De+Leah&family=Satisfy&display=swap');

.fuente{
  font-family:'Aclonica', sans-serif;
  text-align: center;
  font-size: 60px;
  padding-top: 45px;
}
.formatoPestania{
  width: 100%;
  height: 100vh;
  background:fixed;
  background: no-repeat;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/7516846/pexels-photo-7516846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)}

  .formularioLogin{
  width: 100%;
  max-width: 600px;
  background-size: cover;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  position: relative;
  z-index: 99;
  opacity: .85;
}
button{
  width: 60%;
  margin: 5px 0 25px;
}
.centrado{
  text-align: center;
}
.icons{
  display: flex;
  align-items:center;
  width: 85%;
  justify-content: right;
}
.pderecha{
  padding-right: -15px;
}
.icons input{
  width: 80%;
}
i{
  margin: 10px;
}
